arxiv-metadata-oai-snapshot.json
arxiv-papers-1000.json
arxiv.zip
*.DS_STORE
*.log
.env
.ipynb_checkpoints
*.pkl
.venv
venv
__pycache__
new_backend/arxivsearch/templates/
*/.nvm
.coverage*
coverage.*
htmlcov/
legacy-data/