.card {
    width: 26rem;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 0.5rem;
}

.card-top {
    padding-top: 1rem;
}

.card-btns {
    width: 0.5rem;
    display: inline-block;
}